body > div#__next,
#__next,
#__next > div {
  height: 100%;
}

a {
  text-decoration: none;
  color: #25628f;
  outline: none;
}

.shadow-2 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}
